.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 800;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: auto;
}

.title {
  font-size: 32px;
  color: #333;
  margin: 0;
}

.divider {
  width: 2px;
  height: 50px;
  background-color: #333;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.featureWrapper {
  position: relative;
  cursor: pointer;
}

.feature {
  font-size: large;
  font-weight: 550;
  color: #333;
}

.underline {
  position: absolute;
  height: 2px;
  background-color: #333;
  width: 100%;
  bottom: -4px;
  left: 0;
}

.profile {
  padding: 10px 20px;
  width: 90px;
  border: 2px solid #333;
  border-radius: 25px;
  color: #333;
  background-color: #f8ecd6;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile:hover {
  color: black;
  background-color: #c99776;
  cursor: pointer;
}
