.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/IntroBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  z-index: 800;
  padding :10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #3d3d3d;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:53%;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(11, 11, 11, 0.1);
  gap: 40px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;

}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 5%; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left : 50px;
  margin-top : 60px;
} 

.name
{
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  margin: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 100%;
  gap: 16px;
}

.selectContainer {
  flex: 1;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap : 1px;
}

.inputGroup2 {
  display: flex;
  flex-direction: column;
  gap : 1px;
  width : 100%;
}

.inputhead {
  color: #3d3d3d;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 500;
}

.required {
  color: red;
  margin-left: 4px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.2s ease-in-out;
  box-sizing: border-box;
}

.input:focus {
  border-color: #888;
  outline: none;
}

.locationGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.skillsSummary {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  margin-top: 20px;
}

.skillsHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}

.skillsList {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

.skillItem {
  margin-bottom: 6px;
  font-size: 14px;
}
